@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

:root {
  --background: #F9F9F9;
  --primary: #171717;
  --secondary: #767676;
  --border-primary: #D7D7D7;
  --border-secondary: #C3C3C3;
  --accent: #2DD70B;
  --accent-20: #2dd70b33;
}


body {
  background: white;
  color: var(--primary);
  border-color: var(--border-primary);
  border-style: solid;
  overflow-x: hidden;
  outline: none;
}


