.Portfolio{
  .Image{
    box-shadow: 0px 12px 27px 0px #0000000F, 0px 49px 49px 0px #0000000D, 
                0px 111px 66px 0px #00000008, 0px 197px 79px 0px #00000003, 0px 308px 86px 0px #00000000;
    .Btn{
      backdrop-filter: blur(4px);
      box-shadow: 0px 1px 2px 0px #0000001A, 0px 4px 4px 0px #00000017, 
                  0px 10px 6px 0px #0000000D, 0px 17px 7px 0px #00000003, 0px 27px 8px 0px #00000000;
    }    
  }
}